// Color
$black: #000000;
$black-shade-1:#101010;
$black-shade-2:#1A1A1A;
$gray:#7C7D7D;
$dark-gray:#222222;
$light-gray:#E8EAE9;
$light-gray-shade-2:#F8F8F8;
$light-gray-shade-3:#F9F9F9;
$gray-shade:#00000029;
$gray-shade-1:#707070;
$white: #FFFFFF;
$white-shade-1:#FFFFFF80;
$white-shade-2:#F6F6F6;
$green-shade-1:#57DD84;
$tk-sui-generis:'sui-generis',
'sans-serif';
$publicSans: 'Public Sans';
$gold-gradiant: transparent linear-gradient(179deg, #FFE998 0%, #57370D 100%) 0% 0%;
$gold-txt-gradiant: transparent linear-gradient(270deg, #57370D 0%, #FFE998 100%) 0% 0%;
$silver-gradiant: transparent linear-gradient(179deg, #C0C0C0 0%, #606060 100%) 0% 0%;
$silver-txt-gradiant: transparent linear-gradient(270deg, #606060 0%, #C0C0C0 100%) 0% 0%;
$bronze-gradiant: transparent linear-gradient(179deg, #A96F44 0%, #F2ECB6 100%) 0% 0%;
$bronze-txt-gradiant:transparent linear-gradient(270deg, #F2ECB6 0%, #A96F44 100%) 0% 0%;
$bronze-gradiant-box-bg:transparent linear-gradient(296deg, #F2ECB6 0%, #A96F44 100%);
$silver-gradiant-box-bg:transparent linear-gradient(296deg, #C0C0C0 0%, #606060 100%);
$gold-gradiant-box-bg:transparent linear-gradient(296deg, #FFE998 0%, #57370D 100%);
// Fonts
// Responsive
$xx-small:350px;
$x-small:545px;
$small: 767px;
$medium:992px;
$desktop:1024px;
$large2:1200px;
$large:1350px;
$large-1400:1400px;
$m-large-1600:1600px;
//form var
$br-3:3px;
$br-6:6px;
$br-10:10px;